
<h1 id="home_header">Bad Hair Day Predictor</h1>
<div id="home">
  <div id="home_form">
    <form action="/results" method="post">
      <p>
        <label for="country">What country are you in? </label>
        <%= country_select("user", "country", ["Australia", "Canada", "India", "China", "New Zealand"]) %>
      </p>
      
      <p>
        <label for="city">What city? </label>
        <input type="text" name="city" class="text_input" required placeholder="City">
      </p>
      <p>
        <label for="length">How long is your hair? </label>
        <select name="length" id="length">
          <% @hairstyle_attributes[:length_attributes].each do |length, value| %>
            <option value="<%= length %>" name="<%= length %>"><%= length %></option>
          <% end %>
        </select>
      </p>
      <p>
        <label for="curliness">How curly is your hair? </label>
        <select name="curliness" id="curliness" >
          <% @hairstyle_attributes[:curliness_attributes].each do |curliness, value| %>
            <option value="<%= curliness %>" name="<%= curliness %>"><%= curliness %></option>
          <% end %>
        </select>
      </p>
      <p>
        <label for="hygiene">When did you last wash your hair? </label>
        <select name="hygiene" id="hygiene" >
          <% @hairstyle_attributes[:hygiene_attributes].each do |hygiene, value| %>
            <option value="<%= hygiene %>" name="<%= hygiene %>"><%= hygiene %></option>
          <% end %>
        </select>
      </p>
      <p>
        <label for="modification">Do you have any of the following? </label><br>
        <% @hairstyle_attributes[:modification_attributes].each do |modification, value| %>
          <input type="checkbox" value="<%= modification %>" name="modifications[]"><%= modification %><br>
        <% end %>
      </p>
      <button>Hit me with it!</button>
    </form>
  </div>
  
</div>
<footer>
    <a href="/contact">Advertise</a>
  </footer>

