<h1>Bad Hair Day Predictor</h1>
<form action="/results" method="post">
  
  <label for="country">What country are you in? </label>
  <input type="text" name="country" class="text_input" required value="Country">
  
  <label for="city">What city? </label>
  <input type="text" name="city" class="text_input" required value="City">

  <label for="length">How long is your hair? </label>
  <select name="length" id="length" autofocus>
    <% @lengths.each do |length| %>
      <option value="<%= length %>" name="<%= length %>"><%= length %></option>
    <% end %>
  </select>
  
  <label for="curliness">How curly is your hair? </label>
  <select name="curliness" id="curliness" >
    <% @curliness_factors.each do |curliness| %>
      <option value="<%= curliness %>" name="<%= curliness %>"><%= curliness %></option>
    <% end %>
  </select>
  
  <label for="hygiene">When did you last wash your hair? </label>
  <select name="hygiene" id="hygiene" >
    <% @hygiene_factors.each do |hygiene| %>
      <option value="<%= hygiene %>" name="<%= hygiene %>"><%= hygiene %></option>
    <% end %>
  </select>
  
  <label for="modification">Do you have any of the following? </label><br>
  <% @modifications.each do |modification| %>
    <input type="checkbox" value="<%= modification %>" name="<%= modification %>"><%= modification %><br>
  <% end %>

  
  <button>Hair bag it!</button>
</form>