<h1>You are going to have a BLANK hairday.</h1>
<h2>Today's forecast for <%= @city %>, <%= @country %> <img src="<%= @weather_icon %>"></h2>
<p>Temperature: <%= @temp %> C</p>
<p>Humidity: <%= @humidity %>%</p>
<p>Wind: <%= @wind %>kph</p>
<p>Probability of precipitation: <%= @pop %>%</p>


<aside>Weather data supplied by <img alt="wunderground logo" src="<%= @wunderground_logo %>"> 
</aside>