 <% if @bad_hair_prediction %> 
  <div id="results_container">
    <h1><%= @bad_hair_prediction %></h1>
  </div>
  <div style="background: url(<%= @background_url %>) no-repeat; background-size: contain; background-position: center" class="results" id="<%= @div_id %>">
    <h1><%= @message %></h1>
  </div>
  <div class="results" id="results_moreinfo">
    <% @reasons.each do |message| %>
      <p><%= message %></p>
    <% end %>

    <h2>Today's forecast for <%= @city %>, <%= @country %> <img src="<%= @weather_icon %>"></h2>
    <p>Temperature: <%= @temp %> C</p>
    <p>Humidity: <%= @humidity %>%</p>
    <p>Wind: <%= @wind %>kph</p>
    <p>Probability of precipitation: <%= @pop %>%</p>


    <aside>Weather data supplied by <img alt="wunderground logo" src="<%= @wunderground_logo %>"> 
    </aside>
  </div>
<% else %>
  <h1><%= @error %></h1>
  <%= link_to 'Try another search', root_path %>
<% end %>