<!-- <div style="background: <%=  %>"></div>  this is how you create different background-->

<h1><%= @bad_hair_prediction %></h1>
<div style="background: url(<%= @background_url %>) no-repeat; background-size: contain;" class="results" id="<%= @div_id %>">
  <h1><%= @message %></h1>
</div>
<div class="results" id="results_moreinfo">

  <h2>Today's forecast for <%= @city %>, <%= @country %> <img src="<%= @weather_icon %>"></h2>
  <p>Temperature: <%= @temp %> C</p>
  <p>Humidity: <%= @humidity %>%</p>
  <p>Wind: <%= @wind %>kph</p>
  <p>Probability of precipitation: <%= @pop %>%</p>


  <% @reasons.each do |message| %>
    <p><%= message %></p>
  <% end %>

  <aside>Weather data supplied by <img alt="wunderground logo" src="<%= @wunderground_logo %>"> 
  </aside>
</div>