<!DOCTYPE html>
<html>
  <head>
    <title>Bad Hair Day Predictor</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <%= link_to("Home", root_path) %>
      <%= link_to("Login", users_path) %>
      <%= link_to("Register", new_user_path) %>
      <a href="/contact">Contact us</a>
    </nav>
    <%= yield %>
    
  </body>
  <footer>
    <a href="/contact">Advertise</a>
  </footer>
</html>
